@font-face {
    font-weight: normal;
    font-family: 'Cardinal';
    font-style: normal;
    src: url('./files/cardinal.woff2') format('woff2'),
        url('./files/cardinal.woff') format('woff'),
        url('./files/cardinal.ttf') format('ttf');
    font-display: swap;
}