.button-base {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--font-color-primary);
  text-decoration: none;
  vertical-align: middle;
  background-color: transparent;
  border: 0;
  border-radius: var(--border-radius);
  outline: 0;
  cursor: pointer;
  transition-duration: var(--transition-duration-short);
  transition-property: background-color box-shadow border;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.button-base::-moz-focus-inner {
  border-style: none;
}

.button-base.disabled {
  cursor: default;
  pointer-events: none;
}
